# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Traffic Light Simulator with Java/*
!/Traffic Light Simulator with Java/task/
/Traffic Light Simulator with Java/task/*
!/Traffic Light Simulator with Java/task/src
